.App {
  height: 100%;
  text-align: center;
}
#root {
  text-align: center;
}
body {
  background: radial-gradient(circle,#2372c9 0,#0940b4 100%);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
}
html, body, #root {
  height: 100%;
  overflow-x: hidden;
}
.navbarHolder {
  position: fixed; 
  top: 0;
  z-index: 500;
  left: 25%;
  right: 25%;

}
.navLink {
  
  text-shadow: 0 0 5px #000;
  text-decoration: none;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 350ms linear;
    border-radius: 5px;
    padding: 5px;
    background: #23469b;
}
.navLink:hover {
  transform: scale(1.1);
  color: rgb(137 255 63 / 65%);
}
.navLink.active {
  text-decoration: none;
    color: white;
    box-shadow: 3px 5px 10px 3px rgb(17 51 136 / 49%);
    -webkit-box-shadow: 3px 5px 10px 3px rgb(17 51 136 / 49%);
    -moz-box-shadow: 3px 5px 10px 3px rgba(17 51 136, 0.5);border-bottom: 2px solid rgb(3 2 64 / 50%);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    background: #4240b3;
}

.holderNavs {
  transform: translateY(-15px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgb(66 111 215 / 20%);
  padding: 5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-width: 35vw;
  max-width: 80vw;
  text-align: center;
  display: inline-flex;
  list-style-type: none;

}
.navbar {
  height: fit-content;
  z-index: 501;
  border-radius: 5px;
  margin: auto;
  width: 100%;
}
.login {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.imgL {
  height: 3vw;
  width: 3vw;
}
.loginTitle{
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}
.containerImg {
  position: relative;
  width: 100%;
}
.imageText {
  height: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.imageText:before {
  content: "";
  display: inline-block;
  height: 80%;
  vertical-align: middle;
}
.imageI {
  font-weight: 900 !important;
  color: white;
  border-radius: 20px;
  display: inline-block;
  font-size: 6vw;
  padding: 1vw;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 0 0 5px #000;
  width: 100%;
  text-decoration: overline;
}
.mainImage {
  display: block;
  height: auto;
  margin-bottom: 50px;
  max-width: 100%;
  width: 100%;
  margin: auto;

}
.loginButton {
  border-radius: 7px;
  color: white;
  border: none;
  display: flex;
  padding: 1vw;
  width: 75%;
  background: rgb(38 35 35 / 50%);
  cursor: pointer;
}
.loginErr {
  color: #ff4949;
  font-weight: 500;
  font-size: 1.5em;
}
.loginContainer {
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background: rgba(0,0,0,.2);
    align-items: center;
    height: 50%;
    box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/